p,h4{
    margin: 0;
}
.timeline_wrapper {
  display: flex;
  gap: 10px;
  .left {
    box-shadow: 0px 1px 11px 2px #f0e8e8;
    padding: 1rem;
    .book_list {
      list-style: none;
      cursor: pointer;
      li {
        display: flex;
        gap: 15px;
      }
      .book{

        .title{
            font-weight: bold;
        }
       .synopsis{
        font-weight: bold;
       }
        .subtitle{
            display: flex;
            gap: 10px;
        }
        .details{
            display: flex;
            gap: 5px;
        }
        .details span:nth-child(odd){
            font-weight: bold;
        }
        .details span:nth-child(even){
            margin: 0 5px;
        }
        .description{
            max-height: 12ch;
            text-overflow: ellipsis;
            overflow: hidden;
            line-height: 25px;
            letter-spacing: .5px;
        }
      }
    }
  }
  .filter_wrapper {
    box-shadow: 0px 1px 11px 2px #f0e8e8;
    padding: 1rem;
    ul {
      list-style: none;
      width: 250px;
      display: flex;
      gap: 10px;
      flex-wrap: wrap;
      li{
        padding: 5px 15px;
        border: 1px solid #452B5B;
        border-radius: 10px;
      }
    }
    button{
        width: 100%;
        margin: 0 10px;
        border: none;
        color: white;
        background-color: #452B5B;
        padding: 10px;
        border-radius: 10px;
    }
  }
}
