.register_wrapper {
  background-color: white;
  padding: 2rem;
  height: fit-content;
  text-align: center;
  border-radius: 5px;
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    label {
      text-align: left;
      width: 100%;
      font-weight: bold;
    }
    button {
      background-color: #452b5b;
      color: white;
      font-weight: bold;
    }
  }
  .error {
    font-size: 1rem;
    color: red;
  }
  .CityAutocomplete{
    list-style: none;
    text-align: left;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding-left: 9px;
    position: absolute;
    width: 16.8%;
    background-color: white;
  }
  .cityhover{
    cursor: pointer;
  }
  .cityhover :hover{
 background-color: lightgray;
  }
}
