.home_wrapper{
    width: 80vw;
    margin: 0 auto;
    display: flex;
    gap: 2rem;
    height: 100%;
    .nav_container{
        width: 250px;
        height: 300px;
        border: 2px solid black;
    }
    .display_container{
        flex-grow: 1;
        border: 2px solid black;
    }
}