.login_register_wrapper {
  height: 100%;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(69%2c 43%2c 91%2c 1)'%3e%3c/rect%3e%3cpath d='M1266.05 144.86 a40.11 40.11 0 1 0 80.22 0 a40.11 40.11 0 1 0 -80.22 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M310.33 436.53L320.48 436.53L320.48 471.8L310.33 471.8z' stroke='rgba(233%2c 225%2c 225%2c 1)'%3e%3c/path%3e%3cpath d='M28.46 558.53 a42.57 42.57 0 1 0 85.14 0 a42.57 42.57 0 1 0 -85.14 0z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M448.4 431.52L455.19 431.52L455.19 438.31L448.4 438.31z' stroke='rgba(233%2c 225%2c 225%2c 1)'%3e%3c/path%3e%3cpath d='M1107.69 66.54a39.32 39.32 0 1 0-38.95 68.31z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M910.48 414.47 a25.39 25.39 0 1 0 50.78 0 a25.39 25.39 0 1 0 -50.78 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M414.76 404.02a55.98 55.98 0 1 0 103.2-43.4z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M227.03 370.87 a53.56 53.56 0 1 0 107.12 0 a53.56 53.56 0 1 0 -107.12 0z' stroke='rgba(233%2c 225%2c 225%2c 1)'%3e%3c/path%3e%3cpath d='M785.64 202.66L829.83 202.66L829.83 252.39L785.64 252.39z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1398.33 159.22a10.54 10.54 0 1 0-9.52-18.81z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1149.19 298.71L1202.68 298.71L1202.68 301.23L1149.19 301.23z' fill='rgba(233%2c 225%2c 225%2c 1)'%3e%3c/path%3e%3cpath d='M1376.74 390.54L1395.01 390.54L1395.01 408.81L1376.74 408.81z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M926.38 162.19a1.14 1.14 0 1 0 2.05 1z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M757.96 521.78 a0.43 0.43 0 1 0 0.86 0 a0.43 0.43 0 1 0 -0.86 0z' stroke='rgba(233%2c 225%2c 225%2c 1)'%3e%3c/path%3e%3cpath d='M140.19 158.7a20.54 20.54 0 1 0-39.63-10.79z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M49.8 60.67L65.44 60.67L65.44 76.31L49.8 76.31z' stroke='rgba(233%2c 225%2c 225%2c 1)'%3e%3c/path%3e%3cpath d='M732.45 74.66L767.33 74.66L767.33 109.54L732.45 109.54z' fill='rgba(233%2c 225%2c 225%2c 1)'%3e%3c/path%3e%3cpath d='M92.07 350.54L124.6 350.54L124.6 365.53L92.07 365.53z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M570.43 104.19L574.76 104.19L574.76 108.52L570.43 108.52z' stroke='rgba(233%2c 225%2c 225%2c 1)'%3e%3c/path%3e%3cpath d='M554.64 168.2 a42.16 42.16 0 1 0 84.32 0 a42.16 42.16 0 1 0 -84.32 0z' stroke='rgba(233%2c 225%2c 225%2c 1)'%3e%3c/path%3e%3cpath d='M611.69 179.46a27.07 27.07 0 1 0 29.99-45.08z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M1296.93 388.9L1322.15 388.9L1322.15 414.12L1296.93 414.12z' fill='rgba(233%2c 225%2c 225%2c 1)'%3e%3c/path%3e%3cpath d='M1243.29 209.06L1289.63 209.06L1289.63 255.4L1243.29 255.4z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M374.74 225.68 a52.44 52.44 0 1 0 104.88 0 a52.44 52.44 0 1 0 -104.88 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M1036.03 145.51L1083.7 145.51L1083.7 193.18L1036.03 193.18z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M232.09 354.57 a36.96 36.96 0 1 0 73.92 0 a36.96 36.96 0 1 0 -73.92 0z' stroke='%23037b0b'%3e%3c/path%3e%3cpath d='M167.33 240.34 a28.48 28.48 0 1 0 56.96 0 a28.48 28.48 0 1 0 -56.96 0z' fill='rgba(233%2c 225%2c 225%2c 1)'%3e%3c/path%3e%3cpath d='M1366.82 55.83a13.9 13.9 0 1 0 12.7-24.74z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M195.5 137.57L217.75 137.57L217.75 174.22L195.5 174.22z' fill='rgba(233%2c 225%2c 225%2c 1)'%3e%3c/path%3e%3cpath d='M565.46 184.36L605.83 184.36L605.83 229.14L565.46 229.14z' fill='%23037b0b'%3e%3c/path%3e%3cpath d='M132.81 106.62 a12.61 12.61 0 1 0 25.22 0 a12.61 12.61 0 1 0 -25.22 0z' stroke='%23d3b714'%3e%3c/path%3e%3cpath d='M410.83 230.86L446.45 230.86L446.45 266.48L410.83 266.48z' fill='%23d3b714'%3e%3c/path%3e%3cpath d='M804.05 457.04 a36.23 36.23 0 1 0 72.46 0 a36.23 36.23 0 1 0 -72.46 0z' fill='rgba(233%2c 225%2c 225%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  // background-image: url("../../assets/images/login2.png");
  justify-content: center;
  align-items: center;
  display: flex;
  .signon_container {
    height: 100%;
  }
  .left {
    height: 100%;
  }
  .right {
    border: 2px solid black;
    flex: 1;
  }
}

.row .signContainer {
  justify-content: center;
  margin-top: 5rem;
}

.btn-block {
  width: -webkit-fill-available;
}

.logoimg {
  width: 44%;
}

.loginimg {
  height: 100%;
  object-fit: cover;
  min-width: -webkit-fill-available;
  min-height: 860px;
}


