.login_register_wrapper {
  height: 100%;
  .signon_container {
    height: 100%;
  }
  .left {
    height: 100%;
  }
  .right {
    border: 2px solid black;
    flex: 1;
  }
}

.row .signContainer {
  justify-content: center;
  margin-top: 5rem;
}

.btn-block {
  width: -webkit-fill-available;
}

.logoimg {
  width: 44%;
}

.loginimg {
  height: 100%;
  object-fit: cover;
}

.btn-primary {
  background-color: #452b5b;
  border-color: #452b5b;

  &:hover {
    color: #fff;
    background-color: #452b5b;
    border-color: #452b5b;
  }
}

.btn-light {
  border-color: #452b5b;

  &:hover {
    border-color: #452b5b;
  }
}
