.layout_wrapper{
    display: flex;
    height: 100%;
    flex-direction: column;
    header{
       padding: 1rem 3rem;
        nav{
            display: flex;
            align-items: center;

            h2{
                flex-grow: 1;
                font-size: 3rem;
            }
            ul{
                display: flex;
                list-style: none;
                font-size: 2rem;
                gap: 1rem;
            }
        }
    }
    .content{
        flex-grow: 1;
    }
    footer{
        font-size: 3rem;
        text-align: center;
        padding: 1rem;
    }
}

.navbar{
    background-color: #452B5B !important;
}

/******************* Footer Starts******************/

footer {
    height: 150px;
    text-align: center;
    background-color: #452B5B !important;
    position: static;
  }
  
  .footer-icon {
    margin: 3% 2%;
    color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .footer-icon:hover {
    color: #dda278;
  }
  
  .footer-icon:visited {
    color: #c6f2f1;
    margin: 3% 2%;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .footer_marg {
    color: #ffffff;
  }
  
  .copyright {
    color: #eaf6f6;
    font-size: 0.8125rem;
    margin-top: 2%;
  }
  
  /****************** Footer Ends**************************/

  .logo{
    width:15%;
  }