.layout_wrapper{
    display: flex;
    height: 100%;
    flex-direction: column;
    header{
       padding: 1rem 3rem;
       background-color: #452B5B;
       color: white;
        nav{
            display: flex;
            align-items: baseline;
            .searchbar{
                flex-grow: 1;
            }
            .logo{
                flex-grow: 1;
            }
            input{
                padding: 10px;
                border-radius: 5px;
                border: none;
                width: 20rem;
                outline: none;
            }
            a{
                text-decoration: none;
                color: white;
            }

            ul{
                display: flex;
                list-style: none;
                font-size: 1rem;
                gap: 1rem;
                li{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    cursor: pointer;
                }
            }
        }
    }
    .content{
        flex-grow: 1;
        width: 90vw;
        margin: 0 auto;
    }
    footer{
        font-size: 1rem;
        text-align: center;
        padding: 1rem;
    }
}

.navbar{
    background-color: #452B5B !important;
}

/******************* Footer Starts******************/

footer {
    height: 150px;
    text-align: center;
    background-color: #452B5B !important;
    position: static;
  }
  
  .footer-icon {
    margin: 3% 2%;
    color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .footer-icon:hover {
    color: #dda278;
  }
  
  .footer-icon:visited {
    color: #c6f2f1;
    margin: 3% 2%;
    font-size: 1.2em;
    cursor: pointer;
  }
  
  .footer_marg {
    color: #ffffff;
  }
  
  .copyright {
    color: #eaf6f6;
    font-size: 0.8125rem;
    margin-top: 2%;
  }
  
  /****************** Footer Ends**************************/

  .logo{
    width:15%;
  }